body { 
	padding-top: 60px; 

}
.ng-isolate-scope{
 height:100%;
 background-color:#fff; 
 width: 100%;  
 opacity:0.5; 
 position:absolute;
 z-index:10;	
 text-align:center;
}
#storeList{
	display:none;
}
#containerWrap{
text-align:center;
	
	height:100%;
	margin-top:0px;
	margin-bottom:0px;
   position:relative;
}
#map {
        height: 800px;
	text-align:center;
	margin:0 auto;
	position:absolute;
	right:0px;
	left:0px;
	max-width:none;
      }

#toggleButtons{
	padding-top:20px;
	padding-bottom:20px;
}
#homeWrap{
position: absolute;
  top: 50%;
transform: translateY(-50%);
  
}
footer{
	position:relative;
}
.navbar-brand{
	position:absolute;	
}
