<div class="row">
    <spinner name="mySpinner" show="loading" style=""><div style="height:100%; background-color:#fff;  width: 100%; left:0px;  opacity:0.5;  position:fixed; z-index:10;text-align:center"><img src="images/spinner.gif" style="position:absolute;top:50%"/></div></spinner>
	  <div class="col-sm-12" id="homeWrap" ng-show="showHome" >
	  	<h1>Find organic food throughout NYC <br/>
	  	<button type="button" class="btn btn-primary" ng-click="showMap();" >Map View</button>
	  	<button type="button" class="btn btn-primary" ng-click="listStores()">List View</button><h1>
	  	<h4>Search for closest stores</h4>
	  	<div id="error" style="color:#ff0000"></div>
	 	<form ng-submit="validateZip()" class="form-inline" role="form">
	 		<input type="text" ng-model="zipCode" class="form-control" id="zip" placeholder="Enter zip" />&nbsp;<button type="submit" class="btn btn-primary">Submit</button>
	 	</form>

	  </div
	  <div id="toggleButtons" ng-show="showToggle"><button type="button" class="btn btn-primary" ng-click="showMap()">Map View</button> <button type="button" class="btn btn-primary" ng-click="listStores()">List View</button>
	    
	 <div ng-show="clickedOnAbout">
		<div class="col-sm-12">
		<h4>About</h4>
		<div> This is a list of stores that sell mostly or exclusively organic food throughout the five boroughs of New York City.</div>
		</div>
	</div>
	
    <div   ng-show="clickedOnList" >
		<br/> <br/>
	    <div class="col-sm-12"><form class="form-inline">
	    	
		    	<label for="pwd">Sort  By:</label><select class="form-control" ng-model="sortBy">
	                <option value="" selected>--Select--</option>
	           	<option value="storeName">Name</option>
	           	<option value="rating">Rating</option>
	        	</select>
	         	<label for="city">Show Stores In: </label> 
	  		<label><input type="checkbox" value="Manhattan"  ng-model="showBoroughs['Manhattan']">Manhattan</label>
			<label ><input type="checkbox" value="Bronx"  ng-model="showBoroughs['Bronx']">Bronx</label>
			 <label ><input type="checkbox" value="Brooklyn"  ng-model="showBoroughs['Brooklyn']">Brooklyn</label>
				 <label ><input type="checkbox" value="Queens"  ng-model="showBoroughs['Queens']">Queens</label>
				 <label ><input type="checkbox" value="Staten Island"  ng-model="showBoroughs['Staten Island']">Staten Island</label>
		
		 </form>
	     </div>
	    
             <div class="col-sm-12"  ng-repeat="store in stores | toArray | orderBy:sortBy | filter:filterBoroughs">    <strong> {{store.storeName}}<br/>
				{{store.address}}<br/>{{store.phone}}<br/>{{store.hours}}<br/><a href="{{store.website}}">View Website</a><br/><div style="display:none">{{store.rating}}{{store.borough}}</div>{{store.rating}}<img src="{{store.ratingImg}}" /><br/></strong><br/>
				   <br/>
				   </div>
        </div>
	<div ng-show="clickedOnMap" >
	
		<div id="map" class="col-sm-6"></div>
	</div>			
    </div>
